
<h1>Crea un producto</h1>
<form id="registerForm">
    <label for="p_name">Nombre</label>
    <input type="text" id="p_name" name="p_name">
    <br/>
    <label for="p_price">Apellido</label>
    <input type="number" id="p_price" name="p_price">
    <input type="submit">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>